*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(background.jpg);
    background-size: cover;
}
h1{
    display: flex;
    flex-direction: column;

}


/*container*/
.container{
    display: flex;
    height: 500px;
    width: 500px;
    border: 1px solid black;
    border-radius: 10px;
    margin: auto;
    margin-top: 150px;
    background-color: darkgreen;
    opacity: 0.8;
}
/*Form*/
.form{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
   

box-shadow: 15px 15px 5px 5px;
}
.form h1{
    font-size: 4.5rem;
 font-family: cascadia code;
 margin: 40px;
 animation: color 4s linear infinite;
 -webkit-animation: color 4s ease-in-out infinite;
 text-shadow: 5px 5px grey;
}
@keyframes color{
    0%{
        color: blue;
    }
    20%{
        color: lightblue;
    }
    40%{
        color: darkblue;
    }
    60%{
        color: green;
    }
    80%{
        color: lightgreen;
    }
    100%{
        color: aliceblue;
    }
}

/*fbox*/
.fbox{
   padding: 12px;
   width: 65%;
   margin: 15px;
   border: 1px solid black;
   outline: none;
   border-radius: none;
}
.fbox:hover{
    cursor: pointer;
    background-color: lightblue;
    opacity: 1;
 
}
#submit{
    padding: 10px 40px;
    width: 40%;
    margin-top: 20px;
    background-color: white;
    color: black;
    font-weight: bold;
    border: none;
    outline: none;          
    border-radius: none;
}
#submit:hover{
    cursor: pointer;
    background-color:lightblue;
  
}
.form a{
    text-decoration: none;
    color:black;
    margin-top: 20px;
}
.form a:hover{
    color: limegreen;
}
::placeholder{
    color: green;
}
.form b{
    text-decoration: none;
    color: black;
    margin-top: 20px;
}
.form b:hover{
    color: limegreen;
    
}
